---
layout: base
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

    <div class="about-container">
        <!--
                <div class="about-item">
            <div class="post-content">
                <img src="{{ page.profile }}" alt="Author"/>
            </div>
        </div>
        -->

        <div class="about-item">
            <div class="post-content">
                {{ content }}
            </div>

            {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
        </div>
    </div>



</article>
